%h2 Here are all the sandwiches you've ordered:
- @sandwiches.each do |sandwich|
  %h3= link_to "A #{sandwich.kind} sandwich ordered at #{sandwich.created_at.strftime("%I:%M%p, %m/%d/%Y")}.", sandwich
