%h2 Design your sandwich:
= form_for @sandwich, url: {action: "create"} do |f|
  = f.select(:kind, [["Meaty","Meaty"],["Vegetarian","Vegetarian"],["Vegan :(","Vegan"]])
  = f.hidden_field :user_id, value: current_user.id
  = f.submit "Make that sandwich!"
