body {
	font-size: 1.2em;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;

	#wrapper {
		max-width: 700px;
		margin: 0 auto;
		text-align: left;

		#header {
			margin-top: 15px;
			height: 100px;
			h1 {
				img {
					height: 100px;
				}
			}

			h4 {
				margin-top: 40px;
				float: right;
				padding-left: 20px;
			}
		}

		h2 {
			padding-top: 20px;
		}

		.field {
			padding-top: 20px;

			textarea {
				display: block;
				border: 5px solid black;
				font-size: inherit;
				font-family: inherit;
				height: 350px;
			}

			input {
				display: block;
				font-size: inherit;
				font-family: inherit;


			}

		}

		h1 {
			float: left;
		}

		h4 {
		}

		#main {
			clear: both;

		}
	}
}

