// Place all the styles related to the sandwiches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-size: 1.5em;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	line-height: 1.4;
}
